.checkbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.checkbox-container:nth-child {
    break-after: always;
    wrap-after: flex;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: Calibri;
}

